<footer id="footer" style="background-color: #fff">
            <div class="container">
                
                
                <div class="col-md-8 col-md-offset-2 text-center">
                    
                    <h3>Остались вопросы?</h3>
                    <p>Позвоните нам: <b>{module_contentholder,name="phone"}</b> или напишите на <a href="mailto:hello@dentalagency.ru" target="_top">hello@dentalagency.ru</a>,
                        чтобы уточнить необходимую информацию.</p>
                    
                    <hr style="width: 60%; margin-left: auto; margin-right: auto;">

                    
                    <!--a class="page-scroll" href="http://www.dentalagency.ru/">
                        <img style="height: 32px; margin-left: auto; margin-right: auto;opacity: 0.6;" src="/img/logo@2x_da_new_simle.png" class="img-responsive">
                        
                    </a-->
                    
                    <ul class="list-inline text-center" style="margin-top: -8px;">
                        <li>
                            <a href="https://www.facebook.com/dentalagency.ru/?ref={module_pageaddress}" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/stom_seminar/?ref={module_pageaddress}" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-instagram"></i></a>
                        </li>
                        <!--li>
                            <a href="https://www.youtube.com/channel/UCv9NJqHpCLuhSnQOeDdJ75Q?ref={module_pageaddress}" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-youtube"></i></a>
                        </li-->
                        
                    </ul>
                    <!--p class="copyright text-center" style="
font-family: &quot;proxima-nova&quot;,sans-serif;
font-size: 14px;
color: #202633;
"> © 2015-2016, Dental Agency.</p-->
                    <!--span class="text-center" style="
font-family: &quot;proxima-nova&quot;,sans-serif; color: #999; font-size:16px; font-weight:500;">made at&nbsp;<a style="color: #000; font-weight:700;" href="http://responsivelab.ru/" target="blank">Responsive Lab</a></span-->
                </div>
                
                
                
                
            </div>
        </footer>